/* Contact.css */

:root {
  --primary-color: #e63947c6;
  --secondary-color: #F1FAEE;
  --tertiary-color: #A8DADC;
  --quaternary-color: #457B9D;
  --quinary-color: #1D3557;
}

#contact {
  max-width: 600px;
  margin: auto;
  padding: 40px;
  background-color: var(--secondary-color); /* Updated */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--quinary-color); /* Updated */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 20px;
  font-size: 1.2em;
}

input, textarea {
  padding: 10px;
  font-size: 1em;
  border: 1px solid var(--quaternary-color); /* Updated */
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

textarea {
  resize: none;
  height: 150px;
}

#contact button {
  padding: 10px 20px;
  background-color: var(--primary-color); /* Updated */
  color: var(--secondary-color); /* Updated */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

#contact button:hover {
  background-color: var(--quinary-color); /* Updated */
}


.error {
  color: red; /* You may want to change this to one of your theme colors */
  font-size: 0.9em;
  margin-top: 5px;
  display: block;
}
