/* Specific styles for each section */
:root {
  --primary-color: #E63946;
  --secondary-color: #F1FAEE;
  --tertiary-color: #A8DADC;
  --quaternary-color: #457B9D;
  --quinary-color: #1D3557;
}

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 30px 0px;
    background-color: var(--secondary-color); /* Updated */
    color: var(--quinary-color); /* Updated */
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px 0;
}

.project-card {
    border: 1px solid var(--quinary-color); /* Updated */
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    border-color: var(--primary-color); /* Updated */
    transform: scale(1.05);
}

/* Add more specific styles for other elements as needed */
