:root {
  --primary-color: #E63946;
  --secondary-color: #F1FAEE;
  --tertiary-color: #A8DADC;
  --quaternary-color: #457B9D;
  --quinary-color: #1D3557;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px 0;
    background-color: var(--secondary-color); /* Updated */
}

/* Style for the project-card */
.project-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Make it responsive */
  max-width: 500px; /* Set a max-width */
  margin: auto; /* Center the cards */
  text-align: center;
}

@media (max-width: 600px) {
  .project-card {
    width: 90%; /* Adjust the width on small screens */
  }
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.project-card {
    position: relative;
    overflow: hidden;
}

.project-image {
    z-index: 1;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.hover-effect {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure it covers the entire card */
  height: 100%;
  background: rgba(0,0,0,0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 0.9em; /* Adjust the font size */
  padding: 10px; /* Add some padding if needed */
}

@media (max-width: 600px) {
  .hover-effect {
    font-size: 0.8em; /* Reduce font size on small screens */
    padding: 5px; /* Reduce padding on small screens */
  }
}


.project-card:hover .hover-effect {
    opacity: 1;
}

.project-card:hover .project-image {
    transform: scale(1.1);
}

.github-logo {
    width: 50px;
    margin: 10px;
    filter: invert(1); /* Updated to make the logo visible on dark background */
}
