/* Specific styles for each section */
#resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
  }

#resume {
    background-color: #ddd;
  }

  .resume-header {
    margin-bottom: 20px; /* Adjust as needed */
}

.download-link {
    display: block;
    margin-bottom: 10px; /* Adjust as needed */
}

.proficiency-header {
    margin-top: 5px; /* Adjust as needed */
}
