#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Style for the Header/Navigation */
header {
  background-color: #333;
  color: white;
  padding: 15px 30px;
  width: 100%;
  box-sizing: border-box;
}

/* Style for the main content area */
main {
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
}

/* Specific styles for each section */
#about, #contact, #portfolio, #resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

#about, #contact {
  background-color: #f0f0f0;
}

#portfolio, #resume {
  background-color: #ddd;
}

/* Style for the Footer */
footer {
  background-color: #333;
  color: white;
  padding: 15px 30px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

/* Style for the Header */
header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 15px 30px;
  width: 100%;
}

/* Style for the developer's name */
.developer-name {
  font-size: 1.5em; /* Adjust as needed */
}

/* Style for the navigation */
nav.navigation ul {
  list-style-type: none;
  padding: 0;
}

nav.navigation ul li {
  display: inline;
  margin: 0 15px; /* Adjust the spacing between items as needed */
}

nav.navigation ul li a {
  color: white;
  text-decoration: none;
}

/* Changing color on hover */
nav.navigation ul li a:hover {
  color: #ccc; /* Adjust as needed */
}

